<div class="col-md-6 user-container">
    <h1>List of Games</h1>
    <button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th hidden>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games">
        <td hidden></td>
        <td>{{game.name}}</td>
        <td>{{game.price}}</td>
        <td>{{game.number_participants}}</td>
        <td><button class="btn btn-success" (click)="deleteUser(game)"> Delete</button>
        <button class="btn btn-success" (click)="editUser(game)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>